@font-face {
  font-family: 'iconfont';
  /* project id 1025433 */
  src: url('//at.alicdn.com/t/font_1025433_txnvh48epb.eot');
  src: url('//at.alicdn.com/t/font_1025433_txnvh48epb.eot?#iefix') format('embedded-opentype'), url('//at.alicdn.com/t/font_1025433_txnvh48epb.woff2') format('woff2'), url('//at.alicdn.com/t/font_1025433_txnvh48epb.woff') format('woff'), url('//at.alicdn.com/t/font_1025433_txnvh48epb.ttf') format('truetype'), url('//at.alicdn.com/t/font_1025433_txnvh48epb.svg#iconfont') format('svg');
}
.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  color: #eee;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
h4 {
  font-size: 16px;
}
.el-breadcrumb__item:last-child .el-breadcrumb__inner {
  color: white;
}
.el-breadcrumb__inner,
.is-link {
  color: white !important;
  font-weight: normal !important;
}
.el-button--text {
  color: #1cc09f;
}
.el-button--text:hover {
  color: #3cdfbe;
  text-decoration: underline;
}
.el-button--text:focus {
  color: #3cdfbe;
}
.el-button--text:active {
  color: #3cdfbe;
}
.el-button--primary {
  font-size: 14px;
  background-color: #1cc09f;
  color: white;
}
.el-button--primary:hover {
  background-color: #53d4bb;
  color: white;
}
.el-button--primary:focus {
  background-color: #53d4bb;
  color: white;
}
.el-button--primary:active {
  color: white;
  border-color: #53d4bb;
  outline: 0;
}
.el-pagination.is-background .el-pager li:not(.disabled).active {
  background-color: #1cc09f;
  color: #fff;
}
.el-pagination {
  font-weight: normal;
}
.el-table--mini,
.el-table--small,
.el-table__expand-icon {
  font-size: 14px;
}
.el-dialog__header {
  padding: 0;
  line-height: 40px;
  background-color: #eee;
  padding: 0 20px;
}
.el-dialog__header .el-dialog__headerbtn {
  top: 10px;
}
.el-dialog__body {
  padding: 0 20px;
}
.el-dialog__footer {
  padding: 10px 20px 20px;
}
.el-input.is-active .el-input__inner,
.el-input__inner:focus {
  border-color: #1cc09f;
}
.el-textarea__inner:focus {
  border-color: #1cc09f;
}
.el-dialog__title {
  line-height: 24px;
  font-size: 14px;
  color: #333333;
  font-weight: bold;
}
.el-tabs__item.is-active {
  color: #1cc09f;
}
.el-tabs__item:hover {
  color: #1cc09f;
}
.el-tabs__active-bar {
  background-color: #1cc09f;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
input[type="number"] {
  -moz-appearance: textfield;
}
.el-upload--picture-card {
  width: 80px;
  height: 80px;
  line-height: 80px;
}
.el-upload-list__item-preview {
  height: 0px !important;
}
.el-upload-list__item-delete {
  height: 0px !important;
}
.el-upload-list--picture-card .el-upload-list__item {
  width: 80px;
  height: 80px;
  line-height: 80px;
}
.el-icon-upload-success {
  position: absolute !important;
  top: 0px !important;
  right: 14px !important;
}
